[Unit]
Description=Grand Fantasia TicketServer
Documentation=https://github.com/marcusvrom/gf-ops
After=network-online.target nscd.service postgresql.service
Wants=network-online.target
Requires=nscd.service

[Service]
Type=simple
WorkingDirectory=/root/gf_server/TicketServer
ExecStart=/root/gf_server/TicketServer/TicketServer -p 7777
Environment=LC_ALL=C
Environment=LANG=C
Environment=LANGUAGE=C
Restart=on-failure
RestartSec=3s
TimeoutStartSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gf-ticket

[Install]
WantedBy=gf.target
