[Unit]
Description=Grand Fantasia Private Server (all services)
Documentation=https://github.com/marcusvrom/gf-ops
Requires=gf-ticket.service gf-gateway.service gf-login.service gf-mission.service gf-world.service gf-zone.service
After=gf-ticket.service gf-gateway.service gf-login.service gf-mission.service gf-world.service gf-zone.service

[Install]
WantedBy=multi-user.target
